<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="../static/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="../static/style.css" media="screen,projection" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div class="row">
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo"><i class="large material-icons">assistant</i></a>
        <span style="position:absolute;left:50px;top:-10px">KPOP</span>
        <span style="position:absolute;left:50px;top:10px">Knowledge Graph</span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li id="trend"><a href="/trend">Trend</a></li>
          <li id="query"><a href="/query">Query</a></li>
          <li id="predict"><a href="/predict">Predict</a></li>
        </ul>
      </div>
    </nav>

    <div class="col s12" id="banner">
      <div class="tabs_section">
        <ul class="tabs tabs_inner_section" style="text-align: center">
          <li class="tab col s3" style="width: 50%;"><a class="active" href="#tabGroup" action="/">Group</a>
          </li>
          <li class="tab col s3" style="width: 50%;"><a href="#tabMember" action="/r">Member</a></li>
        </ul>
      </div>

      <div class="input_section">
        <div class="input_inner_section" style="background-color:#ffffffcc">

          <div id="tabGroup">
            <div id="advancedTest1" class="col s12" style="visibility: hidden;height: 0px;">

              <div style="height: 10%; margin-bottom: 10px;">
                <a class="btn" id="backGroup"
                  style="margin-left:10px; margin-bottom: 15px; margin-top: 10px; background-color:#e57373;">Back</a>
              </div>

              <form name="top_res" action="/filterGroup" method="POST">
                <div style="display:inline" style="width: 50%;float:left;">
                  <div class="advancedSelect" style="width:40%; margin:10px">
                    <label>Please Select Genre</label>
                    <select name="chosen_genre" class="browser-default">
                      <option value="" selected>Choose your option</option>
                      {% for drop_itm in genredropdown %}
                      {% if selectedclass == drop_itm %}
                      <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
                      {% else %}
                      <option value="{{drop_itm}}">{{drop_itm}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div style="display:inline" style="width: 50%;float:left;">
                  <div class="advancedSelect" style="width:40%; margin:10px">
                    <label>Please Select the Entertainment Company</label>
                    <!-- <select name="chosen_label" onchange="this.form.submit()" class="browser-default"> -->
                    <select name="chosen_label" class="browser-default">
                      <option value="" selected>Choose your option</option>
                      {% for drop_itm in labeldropdown %}
                      {% if selectedclass == drop_itm %}
                      <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
                      {% else %}
                      <option value="{{drop_itm}}">{{drop_itm}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div style="display:inline" style="width: 50%;float:left;">
                  <div class="advancedSelect" style="width:40%; margin:10px">
                    <!-- <form name="top_res" action="/refreshfiltertop" method="GET"> -->
                    <label>Please Select the Number of Members in One Group</label>
                    <select name="chosen_number" class="browser-default">
                      <option value="" selected>Choose your option</option>
                      {% for drop_itm in numberdropdown %}
                      {% if selectedclass == drop_itm %}
                      <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
                      {% else %}
                      <option value="{{drop_itm}}">{{drop_itm}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <!-- </form> -->
                  </div>
                </div>

                <!-- <div> -->
                <input class="btn" id="advancedGroupTrigger" name="realGroupSearch" type="submit" value="Submit"
                  style="margin-left:10px; margin-bottom: 0px; margin-top: 205px; padding:4px;background-color:#e57373;"></input>
                <!-- </div> -->
              </form>

            </div>

            <div id="test1" class="col s12" style="visibility:visible;">
              <div id="innerDiv" style="position: absolute; width:100%;height:300px;">
                <div style="text-align: center">
                  <h2 class="title" style="font-family: Bangers">KPOP Wiki</h2>
                </div>
                <nav id="nav_input">
                  <div class="nav-wrapper">
                    <form name="searchGroup" action="/searchGroup" method="POST">
                      <!-- <input id="search1" class="validate" type="name" style="padding-top: 0; display: inline-block; border: 0ch; width:50%; height: 50px;" name="groupname" required> -->
                      <input id="textarea1" class="materialize-textarea" name="groupname"
                        style="display: inline-block; width: 70%; height: 40%; margin-left: 15px;margin-top: 10px;"></input>
                      <button class="material-icons" id="submit_btn" type="submit"
                        style="color:black;margin-top: 8px;float:right; margin-right: 15px;">search
                        group</button>
                    </form>
                    <button class="btn" id="advancedGroup" type="submit" name="action"
                      style="background-color:rgb(201, 99, 116) ;">Advanced Option</button>
                  </div>
                </nav>
              </div>
            </div>

          </div>


          <div id="tabMember">
            <div id="advancedTest2" class="col s12" style="visibility: hidden;height: 0px;">
              <div style="height: 10%;margin-bottom: 10px;">
                <a class="btn" id="backMember"
                  style="margin-left:10px; margin-bottom: 25px; margin-top: 10px;  background-color:#e57373;">Back</a>
              </div>


              <form name="memberadvanced" action="/filterMember" method="POST">
                <div style="display:inline" style="width: 50%;float:left;">
                  <div class="advancedSelect" style="width:40%; margin:10px">
                    <label>Please Select Genre</label>
                    <select name="chosen_genre_m" class="browser-default">
                      <option value="" selected>Choose your option</option>
                      {% for drop_itm in genrem %}
                      {% if selectedclass == drop_itm %}
                      <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
                      {% else %}
                      <option value="{{drop_itm}}">{{drop_itm}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div style="display:inline" style="width: 50%;float:left;">
                  <div class="advancedSelect" style="width:40%; margin:10px">
                    <label>Please Select the Entertainment Company</label>
                    <!-- <select name="chosen_label" onchange="this.form.submit()" class="browser-default"> -->
                    <select name="chosen_label_m" class="browser-default">
                      <option value="" selected>Choose your option</option>
                      {% for drop_itm in labelm %}
                      {% if selectedclass == drop_itm %}
                      <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
                      {% else %}
                      <option value="{{drop_itm}}">{{drop_itm}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div style="display:inline" style="width: 50%;float:left;">
                  <div class="advancedSelect" style="width:40%; margin:10px">
                    <!-- <form name="top_res" action="/refreshfiltertop" method="GET"> -->
                    <label>Please Select the Gender of the Member</label>
                    <select name="chosen_gender_m" class="browser-default">
                      <option value="" selected>Choose your option</option>
                      {% for drop_itm in genderm %}
                      {% if selectedclass == drop_itm %}
                      <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
                      {% else %}
                      <option value="{{drop_itm}}">{{drop_itm}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <!-- </form> -->
                  </div>
                </div>

                <div style="display:inline" style="width: 50%;float:left;">
                  <div class="advancedSelect" style="width:40%; margin:10px">
                    <!-- <form name="top_res" action="/refreshfiltertop" method="GET"> -->
                    <label>Please Select the Position</label>
                    <select name="chosen_position_m" class="browser-default">
                      <option value="" selected>Choose your option</option>
                      {% for drop_itm in positionm %}
                      {% if selectedclass == drop_itm %}
                      <option value="{{drop_itm}}" SELECTED>{{drop_itm}}</option>
                      {% else %}
                      <option value="{{drop_itm}}">{{drop_itm}}</option>
                      {% endif %}
                      {% endfor %}
                    </select>
                    <!-- </form> -->
                  </div>
                </div>

                <!-- <div> -->
                <input class="btn" id="advancedGroupTrigger" name="realGroupSearch" type="submit" value="Submit"
                  style="margin-left:10px; margin-bottom: 0px; margin-top: 205px; padding:4px;background-color:#e57373;"></input>
                <!-- </div> -->
              </form>

              <!-- <div style="display:inline" style="width: 50%;float:left;">
                <div class="advancedSelect" style="width:40%; margin:10px">
                  <label>Group Select</label>
                  <select class="browser-default">
                    <option value="" disabled selected>Sexiaulity</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
              </div>

              <div style="display:inline" style="width: 50%;float:left;">
                <div class="advancedSelect" style="width:40%; margin:10px">
                  <label>Group Select</label>
                  <select class="browser-default">
                    <option value="" disabled selected>Position</option>
                    <option value="1">Option 1</option>
                    <option value="2">Option 2</option>
                    <option value="3">Option 3</option>
                  </select>
                </div>
              </div> -->
            </div>

            <div id="test2" class="col s12" style="visibility: visible;">
              <div id="innerDiv" style="position: absolute; width:100%;height:300px;">
                <div style="text-align: center">
                  <h2 class="title" style="font-family: Bangers">KPOP Wiki</h2>
                </div>
                <nav id="nav_input">
                  <div class="nav-wrapper">
                    <form name="searchMember" action="/searchMember" method="POST">
                      <input id="textarea2" class="materialize-textarea" name="membername"
                        style="display: inline-block; width: 70%; height: 40%; margin-left: 15px;margin-top: 10px;border-bottom:none;"></input>
                      <button class="material-icons" id="submit_btn" type="submit"
                        style="color:black;margin-top: 8px;float:right; margin-right: 15px;">search
                        person</button>

                    </form>
                    <button class="btn" id="advancedMember" type="submit" name="action"
                      style="background-color:rgb(201, 99, 116) ;">Advanced Option</button>
                  </div>
                </nav>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


    <div class="col s12" style="margin: 10px;" id="tableGroup">
      <table class="table" border="1">
        <thead>
          <tr>
            {% for k in keyGroup%}
            <th scope="col"> {{ k }} </th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for re in resultGroup%}
          <tr>
            {% for value in re%}
            <td>
              {% if value[1] == True%}
              <!-- {{value[0]}} -->
              <a href="{{ url_for('description', uri=value[0]) }}" id={{value[0]}}
                style="color: black;">{{value[0]}}</a>
              {% else %}
              {{value[0]}}
              {% endif %}
            </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </table>
    </div>


    <div id='tableMember' style="margin: 10px;">
      {% if allMember %}
      <table class="table" border="1">
        <thead>
          <tr>
            <th scope="col"> Member </th>
            <th scope="col"> Detail </th>
          </tr>
        </thead>
      </table>
      {% for key,value in allMember.items()%}
      <div class="col s12">

        <div class="divider"></div>
        <div class="section">
          <div class="col s4" style="margin-left: 5%;">
            <h6>
              {{key}}
            </h6>
            <p>
              {% if 'realURL' in value %}
              <a style="color: black;" href="{{value.realURL[0]}}"><strong>NAME:</strong>{{value['label'][0][0]}} </a>
              {% else %}
              <a style="color: black;" href="#"><strong>NAME:</strong>{{value['label'][0][0]}} </a>
              {% endif %}
              <br>
              {% if 'groupname' in value %}
              <a style="color: black;" href="{{value.group}}"><strong>Group:</strong>{{value['groupname'][0][0]}} </a>
              {% else %}
              <a style="color: black;" href="#"><strong>NAME:</strong>{{value['groupname'][0][0]}} </a>
              {% endif %}

            </p>
          </div>
          <div class="col s5" style="margin-bottom: 10px;">
            {% for key,item in value.items() %}
            {% if key != 'image_url' and key!='type' and key!='realURL' and key!='abstract' and key!="URL" and key!='female_num' and key!='male_num'%}
            <div class="col s5 section" style="color: #424242; width: 80%;float: right;">
              <strong style="color:#212121;">{{key.upper()}}: </strong>
              {% for it in item %}
              {% if key == 'url' or key == 'group' %}
              <a style="color:rgb(19, 102, 129)" href="{{it[0]}}">{{it[0]}} </a>
              {% else %}
              {{it[0]}}
              {% endif %}
              {% if it != item[-1] %}
              ,
              {% else %}
              .
              {% endif %}
              {% endfor %}
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- </div> -->
      {% endfor %}
      {% endif %}
    </div>


    <!--JavaScript at end of body for optimized loading-->
    <!-- <script type="text/javascript" src="../js/materialize.min.js"></script> -->
</body>

</html>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"> </script>
<script type=text/javascript>



          $(function() {

            $('a[href="#tabMember"]').bind('click', function(){
                $('#tableGroup').remove()
            }); 

            $('a[href="#tabGroup"]').bind('click', function(){
                $('#tableMember').remove()
            }); 

            $('#advancedGroup').bind('click', function() {
              var p = document.querySelector('#advancedTest1');
              var q = document.querySelector('#test1')
                if (q.style.visibility === 'visible') { 
                  q.style.visibility = 'hidden'; 
                  p.style.height = "300px"
                  p.style.visibility = "visible"
                  } else { 
                  q.style.visibility = 'visible'; 
                  } 
            });

            $('#advancedMember').bind('click', function() {
              var p = document.querySelector('#advancedTest2');
              var q = document.querySelector('#test2')
                if (q.style.visibility === 'visible') { 
                  q.style.visibility = 'hidden'; 
                  p.style.height = "300px"
                  p.style.visibility = "visible"
                  } else { 
                  q.style.visibility = 'visible'; 
                  } 
            });

            $('#backGroup').bind('click', function() {
                var p = document.querySelector('#advancedTest1');
                var q = document.querySelector('#test1')
                if (p.style.visibility === 'visible') { 
                  p.style.visibility = 'hidden'; 
                  p.style.height = '0px';
                  } else { 
                  p.style.visibility = 'visible'; 
                  }
                
                  if (q.style.visibility === 'visible') { 
                  q.style.visibility = 'hidden'; 
                  } else { 
                  q.style.visibility = 'visible'; 
                  }
                 
            });

            $('#backMember').bind('click', function() {
                var p = document.querySelector('#advancedTest2');
                var q = document.querySelector('#test2')
                if (p.style.visibility === 'visible') { 
                  p.style.visibility = 'hidden'; 
                  p.style.height = '0px';
                  } else { 
                  p.style.visibility = 'visible'; 
                  }
                
                  if (q.style.visibility === 'visible') { 
                  q.style.visibility = 'hidden'; 
                  } else { 
                  q.style.visibility = 'visible'; 
                  }
                 
            });



            // $('i#submit_btn').bind('click', function() {
            //   var radioValue = $("input[name='group']:checked").val();
            //   console.log(radioValue)
            //   if (radioValue == "group"){
            //     $.getJSON('/groups',{
            //       "keyword":$('input#search').val()
            //     },
            //         function(data) {
            //           console.log(data)
            //       //do nothing
            //     });
            //   }
            //   else{
            //     $.getJSON('/members',{
            //       "keyword":$('input#search').val()
            //     },
            //         function(data) {
            //           console.log(data)
            //       //do nothing
            //     });
            //   }

            //   return false;
            // });
          });



        // Or with jQuery

  
  </script>