<!doctype html>
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../static/materialize.min.css?q=1280549780" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="../static/style.css?q=1280549780" media="screen,projection" />
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <!--Let browser know website is optimized for mobile-->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      </head>
      <style>
      hr.style-two {
        height: 12px;
        border: 0;
        box-shadow: inset 0 12px 12px -12px rgba(218, 115, 195, 0.5);
    }
    div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 80px;					
    height: 38px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}

      </style>
      <body>
        
          <div class="row col 6">
            <nav>
              <div class="nav-wrapper">
                <a href="/" class="brand-logo"><i class="large material-icons">assistant</i></a>
                <span style="position:absolute;left:50px;top:-10px">KPOP</span>
                <span style="position:absolute;left:50px;top:10px">Knowledge Graph</span>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li id="trend"><a href="/trend">Trend</a></li>
                  <li id="query"><a href="/query">Query</a></li>
                  <li><a href=".">Predict</a></li>
                </ul>
              </div>
            </nav>
          </div>
          <div class="row" style="margin-left: 2em;">
              <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                  <div class="card-content white-text">
                    <span class="card-title">Explore KPOP trend</span>
                    <p> South Korean pop culture has grown in prominence to become a major driver of global culture. Have a look of the KPOP trend from 2000-2020! </p>
                  </div>
                  <div class="card-action">
                    <a href="#">This is a link</a>
                    <a href="#">This is a link</a>
                  </div>
                </div>   
              </div>
            </div>
          <hr class="style-two">
          <div>
              <div id="gender_pie" style="float: left;" ></div>
              <div id="genre_bar"></div>
          </div>     
          
          <hr class="style-two">
         <div>
            <div style="width:500px;float: left;margin: 5em 5em">
                <span class="title" style="font-size: 2em">Top 10 Most Popular K-Pop Groups (2020)</span>
                <div>
                    <ul class="collection">
                        {% for data in top_data.json %}
                        <li class="collection-item avatar" style="float: left;">
                          <img  style="width:62px;height:62px" src="{{data.url}}" alt="" class="circle">
                          <div style="margin:15px 25px;width:100px">
                              <span class="title">{{data.index}}</span>
                              <a href="{{ url_for('description', uri=data.page) }}" id={{data.groupname}}
                              style="color: black;">{{data.groupname}}</a>
                          </div>
                          <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
                        </li>
                        {% endfor %}
                    </ul>
                  </div>
    
              </div>
              <div id="my_dataviz"></div>
              <div id="top50_num" ></div>
         </div>
          
      </body>
</html>
<script>
    //pie chart
    // set the dimensions and margins of the graph
    var width = 450
        height = 350
        margin = 40
    
    // The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
    var radius = Math.min(width, height) / 2 - margin
    
    // append the svg object to the div called 'my_dataviz'
    var svg = d3.select("#gender_pie")
      .append("svg")
        .attr("width", width)
        .attr("height", height)
      .append("g")
        .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");
    
    // Create dummy data
    var data = {"co_ed group": 4, "girl group": 243, "boy group":78}
    
    // set the color scale
    var color = d3.scaleOrdinal()
      .domain(data)
      .range(d3.schemeSet2);
    
    // Compute the position of each group on the pie:
    var pie = d3.pie()
      .value(function(d) {return d.value; })
    var data_ready = pie(d3.entries(data))
    // Now I know that group A goes from 0 degrees to x degrees and so on.
    
    // shape helper to build arcs:
    var arcGenerator = d3.arc()
      .innerRadius(0)
      .outerRadius(radius)
      var div = d3.select("body").append("div")	
    .attr("class", "tooltip")				
    .style("opacity", 0);
    // Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
    svg
      .selectAll('mySlices')
      .data(data_ready)
      .enter()
      .append('path')
        .attr('d', arcGenerator)
        .attr('fill', function(d){ return(color(d.data.key)) })
        .style("stroke-width", "0px")
        .style("opacity", 0.7)
      .on("mouseover", function(d) {		
            div.transition()		
                .duration(200)		
                .style("opacity", .9);		
            div	.html("number of "+d.data.key+": "+d.data.value + "<br/>")	
                .style("left", (d3.event.pageX) + "px")		
                .style("top", (d3.event.pageY - 28) + "px");	
            })					
      .on("mouseout", function(d) {		
            div.transition()		
                .duration(500)		
                .style("opacity", 0);	
        });
    
    // Now add the annotation. Use the centroid method to get the best coordinates
    svg
      .selectAll('mySlices')
      .data(data_ready)
      .enter()
      .append('text')
      .text(function(d){ return d.data.key})
      .attr("transform", function(d) { return "translate(" + arcGenerator.centroid(d) + ")";  })
      .style("text-anchor", "middle")
      .style("font-size", 17)
      
    var bar_data = {{chart_data|tojson }};
  
    bar_data = JSON.parse(bar_data);
    var margin = {top: 30, right: 30, bottom: 90, left: 150},
    width = 660 - margin.left - margin.right,
    height = 400 - margin.top - margin.bottom;

// append the svg object to the body of the page
  var svg = d3.select("#genre_bar")
    .append("svg")
      .attr("width", width + margin.left + margin.right)
      .attr("height", height + margin.top + margin.bottom)
    .append("g")
      .attr("transform",
            "translate(" + margin.left + "," + margin.top + ")");

// Parse the Data
  // sort data
  bar_data.sort(function(b, a) {
    return a.Value - b.Value;
  });

  // X axis
  var x = d3.scaleBand()
    .range([ 0, width ])
    .domain(bar_data.map(function(d) { return d.genre; }))
    .padding(0.2);
  svg.append("g")
    .attr("transform", "translate(0," + height + ")")
    .call(d3.axisBottom(x))
    .selectAll("text")
      .attr("transform", "translate(-10,0)rotate(-45)")
      .style("text-anchor", "end")
      .style("font-size","1.4em");

  // Add Y axis
  var y = d3.scaleLinear()
    .domain([0, 200])
    .range([ height, 0]);
  svg.append("g")
    .call(d3.axisLeft(y))
    .selectAll("text")
      .style("font-size","1.4em");
console.log(bar_data)
  // Bars
  svg.selectAll("mybar")
    .data(bar_data)
    .enter()
    .append("rect")
      .attr("x", function(d) { return x(d.genre); })
      .attr("y", function(d) { return y(d.Value); })
      .attr("width", x.bandwidth())
      .attr("height", function(d) { return height - y(d.Value); })
      .attr("fill", "#69b3a2")
      .on("mouseover", function(d) {		
            div.transition()		
                .duration(200)		
                .style("opacity", .9);		
            div	.html(d.Value + "<br/>")	
                .style("left", (d3.event.pageX) + "px")		
                .style("top", (d3.event.pageY - 28) + "px");	
            })					
      .on("mouseout", function(d) {		
            div.transition()		
                .duration(500)		
                .style("opacity", 0);	
        });



    //top genre
    var data = {'POP': 29, 'HIPHOP': 3, 'BALLAD': 3, 'DANCE': 2, 'KPOP': 2, 'R&B': 2, 'ELECTROPOP': 1, 'SYNTHPOP': 1, 'POPROCK': 1, 'EDM': 1, 'FUNK': 1, 'JAZZ': 1, 'POPERA': 1}
    var width = 550
    height = 550
    margin = 50

// The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
var radius = Math.min(width, height) / 2 - margin

// append the svg object to the div called 'my_dataviz'
var svg = d3.select("#my_dataviz")
  .append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 3 + "," + height / 2 + ")");

// Create dummy data
var data = {'POP': 31, 'HIPHOP': 3, 'BALLAD': 3, 'DANCE': 2, 'R&B': 2, 'ELECTROPOP': 1, 'SYNTHPOP': 1, 'POPROCK': 1, 'EDM': 1, 'FUNK': 1, 'JAZZ': 1, 'POPERA': 1}

// set the color scale
var color = d3.scaleOrdinal()
  .domain(['POP','HIPHOP','BALLAD','DANCE','R&B','ELECTROPOP','SYNTHPOP','POPROCK','EDM','FUNK','JAZZ','POPERA']
)
  .range(d3.schemeDark2);

// Compute the position of each group on the pie:
var pie = d3.pie()
  .sort(null) // Do not sort group by size
  .value(function(d) {return d.value; })
var data_ready = pie(d3.entries(data))

// The arc generator
var arc = d3.arc()
  .innerRadius(radius * 0.5)         // This is the size of the donut hole
  .outerRadius(radius * 0.8)

// Another arc that won't be drawn. Just for labels positioning
var outerArc = d3.arc()
  .innerRadius(radius * 0.9)
  .outerRadius(radius * 0.95)

// Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
svg
  .selectAll('allSlices')
  .data(data_ready)
  .enter()
  .append('path')
  .attr('d', arc)
  .attr('fill', function(d){ return(color(d.data.key)) })
  .attr("stroke", "white")
  .style("stroke-width", "2px")
  .style("opacity", 0.7)
  .on("mouseover", function(d) {		
            div.transition()		
                .duration(200)		
                .style("opacity", .9);		
            div	.html(d.data.value + "<br/>")	
                .style("left", (d3.event.pageX) + "px")		
                .style("top", (d3.event.pageY - 28) + "px");	
            })					
  .on("mouseout", function(d) {		
            div.transition()		
                .duration(500)		
                .style("opacity", 0);	
        });
svg.append('text')
   .text("top 50 Most Popular K-Pop Groups Genres")
   .attr('transform', function(d, i) {return 'translate(' + -100 + ',' + height/2.5 + ')';});
// Add the polylines between chart and labels:
var legendRectSize = 18;
var legendSpacing = 4;
var legend = svg.selectAll('.legend')
  .data(color.domain())
  .enter()
  .append('g')
  .attr('class', 'legend')
  .attr('transform', function(d, i) {
    var height = legendRectSize + legendSpacing;
    var offset =  height * color.domain().length / 2;
    var horz = -2 * legendRectSize;
    var vert = i * height - offset;
    return 'translate(' + horz + ',' + vert + ')';
  });
        
  legend.append('rect')
  .attr('width', legendRectSize)
  .attr('height', legendRectSize)
  .style('fill', color)
  .style('stroke', color)
  .attr('x', legendRectSize + legendSpacing+220);
        
  legend.append('text')
  .attr('x', legendRectSize + legendSpacing+240)
  .attr('y', legendRectSize - legendSpacing)
  .text(function(d) { return d; });



  //top num
  var data = {2:0,5: 15, 4: 14, 7: 6, 6: 7, 8: 1, 3: 2, 2: 2, 9: 1,10:1,12:1,11:0}
    var width = 650
    height = 550
    margin = 50

// The radius of the pieplot is half the width or half the height (smallest one). I subtract a bit of margin.
var radius = Math.min(width, height) / 2 - margin

// append the svg object to the div called 'my_dataviz'
var svg = d3.select("#top50_num")
  .append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 3 + "," + height / 2 + ")");

// Create dummy data

// set the color scale
var color = d3.scaleOrdinal()
  .domain(['2','3','4','5','6','7','8','9','10','11','12']
)
  .range(d3.schemeDark2);

// Compute the position of each group on the pie:
var pie = d3.pie()
  .sort(null) // Do not sort group by size
  .value(function(d) {return d.value; })
var data_ready = pie(d3.entries(data))

// The arc generator
var arc = d3.arc()
  .innerRadius(radius * 0.5)         // This is the size of the donut hole
  .outerRadius(radius * 0.8)

// Another arc that won't be drawn. Just for labels positioning
var outerArc = d3.arc()
  .innerRadius(radius * 0.9)
  .outerRadius(radius * 0.95)

// Build the pie chart: Basically, each part of the pie is a path that we build using the arc function.
svg
  .selectAll('allSlices')
  .data(data_ready)
  .enter()
  .append('path')
  .attr('d', arc)
  .attr('fill', function(d){ return(color(d.data.key)) })
  .attr("stroke", "white")
  .style("stroke-width", "2px")
  .style("opacity", 0.7)
  .on("mouseover", function(d) {		
            div.transition()		
                .duration(200)		
                .style("opacity", .9);		
            div	.html(d.data.value + "<br/>")	
                .style("left", (d3.event.pageX) + "px")		
                .style("top", (d3.event.pageY - 28) + "px");	
            })					
  .on("mouseout", function(d) {		
            div.transition()		
                .duration(500)		
                .style("opacity", 0);	
        });
svg.append('text')
   .text("top 50 Most Popular K-Pop Groups Number of Members")
   .attr('transform', function(d, i) {return 'translate(' + -100 + ',' + height/2.5 + ')';});
// Add the polylines between chart and labels:
var legendRectSize = 18;
var legendSpacing = 4;
var legend = svg.selectAll('.legend')
  .data(color.domain())
  .enter()
  .append('g')
  .attr('class', 'legend')
  .attr('transform', function(d, i) {
    var height = legendRectSize + legendSpacing;
    var offset =  height * color.domain().length / 2;
    var horz = -2 * legendRectSize;
    var vert = i * height - offset;
    return 'translate(' + horz + ',' + vert + ')';
  });
        
  legend.append('rect')
  .attr('width', legendRectSize)
  .attr('height', legendRectSize)
  .style('fill', color)
  .style('stroke', color)
  .attr('x', legendRectSize + legendSpacing+220);
        
  legend.append('text')
  .attr('x', legendRectSize + legendSpacing+240)
  .attr('y', legendRectSize - legendSpacing)
  .text(function(d) { return d; });

  </script>